body {
    background-color: rgba(0, 0, 0, 0.4) !important;
    min-height: 100vh;
}

.navbar>.container-fluid {
    justify-content: center !important;
}

.container {
    background-color: rgba(0, 0, 0, 0) !important;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 3.2rem);
}

.quiz-card {
    width: 20rem;
}

.card-img-top {
    height: 8rem;
    object-fit: cover;
}

.card-body {
    padding: 0.7rem 0.7rem !important;
}

.answer-card:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
}

.bg-success, .bg-danger {
    color: white;
}

.question-footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    align-items: center;
    padding-top: 12px;
}

.endscreen-text {
    font-size: 38px;
    margin-bottom: 32px;
}

.width-100 {
    width: 100%;
}

.text-center {
    text-align: center;
}

.button-row {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}